<div class="list-container">
  <h2>Consultas Agendadas</h2>

  <button class="btn btn-add" routerLink="/consultas/novo">+ Nova Consulta</button>

  <div class="card-grid">
    <div class="card">
      <h3>João da Silva</h3>
      <p><strong>Médico:</strong> Dra. Patricia Alves</p>
      <p><strong>Data:</strong> 2025-07-01 às 10:00</p>
      <p><strong>Status:</strong> <span class="status-agendada">Agendada</span></p>
      <div>
        <button class="btn btn-edit" routerLink="/consultas/editar/301">Editar</button>
        <button class="btn btn-delete">Cancelar</button>
      </div>
    </div>
    <div class="card">
      <h3>Maria Oliveira</h3>
      <p><strong>Médico:</strong> Dr. Alberto Naves</p>
      <p><strong>Data:</strong> 2025-07-02 às 14:30</p>
      <p><strong>Status:</strong> <span class="status-confirmada">Confirmada</span></p>
      <div>
        <button class="btn btn-edit" routerLink="/consultas/editar/302">Editar</button>
        <button class="btn btn-delete">Cancelar</button>
      </div>
    </div>
  </div>
  </div>